@import "tailwindcss";


@theme {
  --color-primary-yellow: #f4d03f;
  --color-secondary-yellow: #f1c40f;
  --color-tertiary-yellow: #ffe58f;
  --color-primary-black: #0f1115;
  --color-secondary-black: #1a1f27;
  --color-tertiary-black: #262c36;

  --font-primary: "Headings", sans-serif;
  --font-bangers: "Bangers", system-ui;
  --color-black-100 : #3B3F46;
    --color-black-150 : #2A2E34;
    --color-black-200 : #1E2328;
    --color-yellow-100 : #f4d03f;
    --color-yellow-150 : #f1c40f;
    --color-yellow-200 : #ffe58f;
}

@font-face {
  font-family: "Headings"; /* Choose a descriptive name for your font */
  src: url("./assets/fonts/Kagitingan-Bold-2.otf") format("otf"),
    url("./assets/fonts/Kagitingan-Bold-2.otf") format("truetype");
  font-weight: normal; /* Define weight if applicable (e.g., bold, normal) */
  font-style: normal; /* Define style if applicable (e.g., italic, normal) */
}

.header-button {
  @apply hidden mx-3 md:flex items-center justify-center px-5 h-12 rounded-lg bg-primary-yellow text-black font-semibold hover:brightness-110 hover:-translate-y-0.5 transition-all duration-150 hover:cursor-pointer;
}
    
